### SETUP

In [ ]:
import pandas as pd

# Loading and Exploring Data

## Simple Exploring Data

We will use `cities world` data. However, we will load again.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/cities_world.tsv', delimiter='\t')

**Show First and Last 5 rows**

In [ ]:
df.head()

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5

In [ ]:
df.tail()

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
120,Copenhagen,55.6761,12.5683,Denmark,1525000,816,1850,121
121,Brisbane,-27.4698,153.0251,Australia,1508000,1603,950,122
122,Riverside/San Bernardino,33.9533,-117.3962,USA,1507000,1136,1350,123
123,Cincinnati,39.1031,-84.5120,USA,1503000,1740,850,124
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125

**Show number of rows and columns in a DataFrame**

Thw output will be a Tuple -> (n_rows,n_cols)

In [ ]:
df.shape

(125, 8)

**Show DataFrame Summary**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        125 non-null    object
 1   Latitude    125 non-null    float64
 2   Longitude   125 non-null    float64
 3   Country     125 non-null    object
 4   Population  125 non-null    int64
 5   Land_area   125 non-null    int64
 6   Density     125 non-null    int64
 7   Number      125 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

**Show descriptive statistics of the numerical columns**

In [ ]:
df.describe()

,Latitude,Longitude,Population,Land_area,Density,Number
count,125.000000,125.000000,1.250000e+02,125.000000,125.000000,125.000000
mean,25.005552,5.567330,5.283232e+06,1399.624000,5403.600000,63.000000
std,25.394396,80.124674,4.855835e+06,1340.851906,4935.181371,36.228442
min,-37.813600,-123.120700,1.500000e+06,376.000000,700.000000,1.000000
25%,14.599500,-74.005900,2.100000e+06,583.000000,2250.000000,32.000000
50%,33.749000,12.496400,3.502000e+06,816.000000,3800.000000,63.000000
75%,41.805700,67.009900,6.000000e+06,1740.000000,7700.000000,94.000000
max,59.934300,153.025100,3.320000e+07,8683.000000,29650.000000,125.000000

**Show Column List**

In [ ]:
df.columns

Index(['City', 'Latitude', 'Longitude', 'Country', 'Population', 'Land_area',
       'Density', 'Number'],
      dtype='object')

**Show Index List**

In [ ]:
df.index

RangeIndex(start=0, stop=125, step=1)

**Show Data Types Each Column**

In [ ]:
df.dtypes

City           object
Latitude      float64
Longitude     float64
Country        object
Population      int64
Land_area       int64
Density         int64
Number          int64
dtype: object

**Show Number of Unique Values Each Column**

In [ ]:
df.nunique()

City          125
Latitude      125
Longitude     125
Country        52
Population    109
Land_area      90
Density        96
Number        125
dtype: int64

**Show Frequencty Count of Unique Values in Certain Column**

In [ ]:
df['Country'].value_counts()

USA             26
Brazil           9
Germany          6
India            6
China            6
Japan            5
South Africa     4
Saudi Arabia     3
UK               3
Italy            3
Canada           3
Mexico           3
Australia        3
Poland           2
Spain            2
Turkey           2
Pakistan         2
Russia           2
Taiwan           2
Puerto Rico      1
Israel           1
Denmark          1
Portugal         1
Greece           1
Austria          1
Belgium          1
Azerbaijan       1
UAE              1
Singapore        1
Lebanon          1
Hungary          1
Zimbabwe         1
Kuwait           1
Uzbekistan       1
Congo            1
Sudan            1
France           1
South Korea      1
Philippines      1
Indonesia        1
Nigeria          1
Egypt            1
Argentina        1
Iran             1
Malaysia         1
Colombia         1
Peru             1
Thailand         1
Iraq             1
Chile            1
Vietnam          1
Ghana            1
Name: Country, dtype: int64

**Show Unique Values in Certain Column**

In [ ]:
df['City'].unique()

array(['Tokyo/Yokohama', 'New York Metro', 'Sao Paulo', 'Seoul/Incheon',
       'Mexico City', 'Osaka/Kobe/Kyoto', 'Manila', 'Mumbai', 'Delhi',
       'Jakarta', 'Lagos', 'Kolkata', 'Cairo', 'Los Angeles',
       'Buenos Aires', 'Rio de Janeiro', 'Moscow', 'Shanghai', 'Karachi',
       'Paris', 'Istanbul', 'Nagoya', 'Beijing', 'Chicago', 'London',
       'Shenzhen', 'Essen/DГјsseldorf', 'Tehran', 'Bogota', 'Lima',
       'Bangkok', 'Johannesburg/East Rand', 'Chennai', 'Taipei',
       'Baghdad', 'Santiago', 'Bangalore', 'Hyderabad', 'St Petersburg',
       'Philadelphia', 'Lahore', 'Kinshasa', 'Miami', 'Ho Chi Minh City',
       'Madrid', 'Tianjin', 'Kuala Lumpur', 'Toronto', 'Milan',
       'Shenyang', 'Dallas/Fort Worth', 'Boston', 'Belo Horizonte',
       'Khartoum', 'Riyadh', 'Singapore', 'Washington', 'Detroit',
       'Barcelona', 'Houston', 'Athens', 'Berlin', 'Sydney', 'Atlanta',
       'Guadalajara', 'San Francisco/Oakland', 'Montreal', 'Monterey',
       'Melbourne', 'Ankara', 'Recife', 'Phoenix/Mesa', 'Durban',
       'Porto Alegre', 'Dalian', 'Jeddah', 'Seattle', 'Cape Town',
       'San Diego', 'Fortaleza', 'Curitiba', 'Rome', 'Naples',
       'Minneapolis/St. Paul', 'Tel Aviv', 'Birmingham', 'Frankfurt',
       'Lisbon', 'Manchester', 'San Juan', 'Katowice', 'Tashkent',
       'Fukuoka', 'Baku/Sumqayit', 'St. Louis', 'Baltimore', 'Sapporo',
       'Tampa/St. Petersburg', 'Taichung', 'Warsaw', 'Denver',
       'Cologne/Bonn', 'Hamburg', 'Dubai', 'Pretoria', 'Vancouver',
       'Beirut', 'Budapest', 'Cleveland', 'Pittsburgh', 'Campinas',
       'Harare', 'Brasilia', 'Kuwait', 'Munich', 'Portland', 'Brussels',
       'Vienna', 'San Jose', 'Dammam', 'Copenhagen', 'Brisbane',
       'Riverside/San Bernardino', 'Cincinnati', 'Accra'], dtype=object)

# Basic Data Manipulation

## Query/Filtering

### Boolean Indexing

#### Single Condition

Retrieve data that has population more than 15 million people

In [ ]:
df[df['Population']>15000000]

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
5,Osaka/Kobe/Kyoto,34.6937,135.5022,Japan,16425000,2564,6400,6

#### Multiple Conditions

Cities that has more than 10 million of population in Southern Hemisphere

In [ ]:
df[(df['Population']>10000000) & (df['Latitude']<0)]

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
9,Jakarta,-6.1745,106.8227,Indonesia,14250000,1360,10500,10
14,Buenos Aires,-34.6037,-58.3816,Argentina,11200000,2266,4950,15
15,Rio de Janeiro,-22.9068,-43.1729,Brazil,10800000,1580,6850,16

### Query Method

In [ ]:
df.query('Population > 15000000')

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
5,Osaka/Kobe/Kyoto,34.6937,135.5022,Japan,16425000,2564,6400,6

In [ ]:
df.query('Population > 10000000 and Latitude < 0')

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
9,Jakarta,-6.1745,106.8227,Indonesia,14250000,1360,10500,10
14,Buenos Aires,-34.6037,-58.3816,Argentina,11200000,2266,4950,15
15,Rio de Janeiro,-22.9068,-43.1729,Brazil,10800000,1580,6850,16

### isin Method

Retrieve list City only in Argentina, Brazil, and Chile:

In [ ]:
df[df['Country'].isin(['Argentina','Brazil','Chile'])]

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
14,Buenos Aires,-34.6037,-58.3816,Argentina,11200000,2266,4950,15
15,Rio de Janeiro,-22.9068,-43.1729,Brazil,10800000,1580,6850,16
35,Santiago,-33.4489,-70.6693,Chile,5425000,648,8400,36
52,Belo Horizonte,-19.9245,-43.9352,Brazil,4000000,868,4600,53
70,Recife,-8.0476,-34.8770,Brazil,3025000,376,8050,71
73,Porto Alegre,-30.0347,-51.2177,Brazil,2800000,583,4800,74
79,Fortaleza,-3.7319,-38.5267,Brazil,2650000,583,4550,80
80,Curitiba,-25.4244,-49.2654,Brazil,2500000,648,3850,81
110,Campinas,-22.9099,-47.0626,Brazil,1750000,492,3550,111
112,Brasilia,-15.7942,-47.8822,Brazil,1625000,583,2800,113

### str Method

Retrieve Cities that contains 'City' on their name:

In [ ]:
df[df['City'].str.contains('City')]

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
43,Ho Chi Minh City,10.8231,106.6297,Vietnam,4900000,518,9450,44

### .loc Method

In [ ]:
df.loc[(df['Population']>10000000)]

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
5,Osaka/Kobe/Kyoto,34.6937,135.5022,Japan,16425000,2564,6400,6
6,Manila,14.5995,120.9842,Philippines,14750000,1399,10550,7
7,Mumbai,19.0760,72.8777,India,14350000,484,29650,8
8,Delhi,28.7041,77.1025,India,14300000,1295,11050,9
9,Jakarta,-6.1745,106.8227,Indonesia,14250000,1360,10500,10
10,Lagos,6.5244,3.3792,Nigeria,13400000,738,18150,11
11,Kolkata,22.5726,88.3639,India,12700000,531,23900,12
12,Cairo,30.0444,31.2357,Egypt,12200000,1295,9400,13
13,Los Angeles,34.0522,-118.2437,USA,11789000,4320,2750,14
14,Buenos Aires,-34.6037,-58.3816,Argentina,11200000,2266,4950,15
15,Rio de Janeiro,-22.9068,-43.1729,Brazil,10800000,1580,6850,16
16,Moscow,55.7558,37.6173,Russia,10500000,2150,4900,17

## Add Column and Row

### Add a New Column

In [ ]:
df['New_Pop'] = df['Land_area'] * df['Density']
df.head()

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number,New_Pop
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1,33216750
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2,17800150
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3,17712000
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4,17518300
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5,17404800

### Add a New Row

In [ ]:
data = {
    'City': 'Surabaya',
    'Latitude': -7.2575,
    'Longitude': 112.7521,
    'Country': 'Indonesia',
    'Population': 2949585,
    'Land_area': 351,
    'Density': 8406,
    'Number':126
}
df = df.append(data,ignore_index=True)
df.tail()

<ipython-input-63-a5801355e9dd>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number,New_Pop
121,Brisbane,-27.4698,153.0251,Australia,1508000,1603,950,122,1522850.0
122,Riverside/San Bernardino,33.9533,-117.3962,USA,1507000,1136,1350,123,1533600.0
123,Cincinnati,39.1031,-84.5120,USA,1503000,1740,850,124,1479000.0
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125,1494900.0
125,Surabaya,-7.2575,112.7521,Indonesia,2949585,351,8406,126,NaN

## Remove Columns and Rows

### Remove Columns

In [ ]:
df.drop(columns='New_Pop') #or df.drop('New_Pop', axis = 1)
# you can add inplace=True argument into the function to overwrite the old variable

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
...,...,...,...,...,...,...,...,...
121,Brisbane,-27.4698,153.0251,Australia,1508000,1603,950,122
122,Riverside/San Bernardino,33.9533,-117.3962,USA,1507000,1136,1350,123
123,Cincinnati,39.1031,-84.5120,USA,1503000,1740,850,124
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125
125,Surabaya,-7.2575,112.7521,Indonesia,2949585,351,8406,126

In [ ]:
#We don't add inplace=True or don't running a syntax like this: df = df.drop(columns='New_Pop')
#So, if we call the dataframe, 'Num_Pop' still there

df.head()

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number,New_Pop
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1,33216750.0
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2,17800150.0
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3,17712000.0
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4,17518300.0
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5,17404800.0

In [ ]:
# But not if we use 'del' keyword, it changes the variable automatically and directly
# without assign a new variable or inplace argument
del df['New_Pop']

In [ ]:
df.head()

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5

### Remove Rows

### Boolean Indexing

In [ ]:
df[~(df['City']=='Surabaya')]

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
...,...,...,...,...,...,...,...,...
120,Copenhagen,55.6761,12.5683,Denmark,1525000,816,1850,121
121,Brisbane,-27.4698,153.0251,Australia,1508000,1603,950,122
122,Riverside/San Bernardino,33.9533,-117.3962,USA,1507000,1136,1350,123
123,Cincinnati,39.1031,-84.5120,USA,1503000,1740,850,124
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125

### Using drop()

In [ ]:
df.drop(index=125)

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
...,...,...,...,...,...,...,...,...
120,Copenhagen,55.6761,12.5683,Denmark,1525000,816,1850,121
121,Brisbane,-27.4698,153.0251,Australia,1508000,1603,950,122
122,Riverside/San Bernardino,33.9533,-117.3962,USA,1507000,1136,1350,123
123,Cincinnati,39.1031,-84.5120,USA,1503000,1740,850,124
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125

# Grouping and Aggregation

## Groupby Based on a Single Column

In [ ]:
# One aggregation function

df.groupby('Country').mean()

<ipython-input-71-8a64f9a35657>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Country').mean()

,Latitude,Longitude,Population,Land_area,Density,Number
Country,,,,,,
Argentina,-34.603700,-58.381600,1.120000e+07,2266.000000,4950.000000,15.000000
Australia,-33.050733,149.732500,2.724000e+06,1790.000000,1516.666667,84.666667
Austria,48.208200,16.373800,1.550000e+06,453.000000,3400.000000,118.000000
Azerbaijan,40.409300,49.867100,2.100000e+06,544.000000,3850.000000,94.000000
Belgium,50.850300,4.351700,1.570000e+06,712.000000,2200.000000,117.000000
Brazil,-19.147167,-44.730333,5.205556e+06,853.444444,5338.888889,66.888889
Canada,46.145867,-92.023733,3.137667e+06,1505.000000,2050.000000,73.666667
Chile,-33.448900,-70.669300,5.425000e+06,648.000000,8400.000000,36.000000
China,35.580267,119.031033,6.385667e+06,542.500000,11483.333333,39.666667
Colombia,4.711000,-74.072100,7.000000e+06,518.000000,13500.000000,29.000000
Congo,-4.387100,15.970000,5.000000e+06,469.000000,10650.000000,42.000000
Denmark,55.676100,12.568300,1.525000e+06,816.000000,1850.000000,121.000000
Egypt,30.044400,31.235700,1.220000e+07,1295.000000,9400.000000,13.000000
France,48.856600,2.352200,9.645000e+06,2723.000000,3550.000000,20.000000
Germany,51.118367,9.605783,3.128333e+06,1128.833333,2775.000000,82.666667
Ghana,5.603700,-0.187000,1.500000e+06,453.000000,3300.000000,125.000000
Greece,37.983800,23.727500,3.685000e+06,684.000000,5400.000000,61.000000
Hungary,47.497900,19.040200,1.800000e+06,702.000000,2550.000000,108.000000
India,18.965333,79.116017,9.666667e+06,640.166667,16358.333333,22.833333
Indonesia,-6.716000,109.787400,8.599792e+06,855.500000,9453.000000,68.000000
Iran,35.689200,51.389000,7.250000e+06,686.000000,10550.000000,28.000000
Iraq,33.312800,44.361500,5.500000e+06,596.000000,9250.000000,35.000000
Israel,32.085300,34.781800,2.300000e+06,453.000000,5050.000000,85.000000
Italy,42.740000,11.983467,3.050000e+06,993.000000,3266.666667,71.333333
Japan,36.443420,136.771280,1.257000e+07,2678.000000,4650.000000,43.800000
Kuwait,29.311700,47.481800,1.600000e+06,544.000000,2950.000000,114.000000
Lebanon,33.893800,35.501800,1.800000e+06,648.000000,2800.000000,107.000000
Malaysia,3.139000,101.686900,4.400000e+06,1606.000000,2750.000000,47.000000
Mexico,23.326933,-102.072833,8.033333e+06,1049.000000,7000.000000,46.000000
Nigeria,6.524400,3.379200,1.340000e+07,738.000000,18150.000000,11.000000
Pakistan,28.208050,70.683550,7.450000e+06,570.000000,13550.000000,30.000000
Peru,-12.046374,-77.042793,7.000000e+06,596.000000,11750.000000,30.000000
Philippines,14.599500,120.984200,1.475000e+07,1399.000000,10550.000000,7.000000
Poland,51.247300,20.018000,2.100000e+06,505.000000,4175.000000,95.500000
Portugal,38.722300,-9.139300,2.250000e+06,881.000000,2550.000000,88.000000
Puerto Rico,18.465500,-66.105700,2.217000e+06,2309.000000,950.000000,90.000000
Russia,57.845050,33.976200,7.900000e+06,1386.000000,6725.000000,28.000000
Saudi Arabia,24.130567,45.296867,2.758333e+06,850.333333,3150.000000,83.666667
Singapore,1.352100,103.819800,4.000000e+06,479.000000,8350.000000,56.000000
South Africa,-28.933900,26.430625,3.362500e+06,1146.000000,3175.000000,72.000000
South Korea,37.566500,126.978000,1.750000e+07,1049.000000,16700.000000,4.000000
Spain,40.900950,-0.765200,4.400000e+06,874.000000,5025.000000,52.000000
Sudan,15.500700,32.559900,4.000000e+06,583.000000,6850.000000,54.000000
Taiwan,24.590350,121.119500,3.850000e+06,443.000000,9550.000000,66.500000
Thailand,13.756300,100.501800,6.500000e+06,1010.000000,6450.000000,31.000000
Turkey,40.470800,30.919050,6.050000e+06,874.500000,6500.000000,45.500000
UAE,25.204800,55.270800,1.900000e+06,712.000000,2650.000000,104.000000
UK,52.491467,-1.420267,4.269000e+06,927.000000,4300.000000,66.666667
USA,38.118227,-96.781077,3.964846e+06,2888.000000,1346.153846,74.384615
Uzbekistan,41.299500,69.240100,2.200000e+06,531.000000,4150.000000,92.000000
Vietnam,10.823100,106.629700,4.900000e+06,518.000000,9450.000000,44.000000
Zimbabwe,-17.825200,31.033500,1.750000e+06,712.000000,2450.000000,112.000000

In [ ]:
df.groupby('Country').agg(['count','mean']).head()

<ipython-input-72-215b5a3d18a9>:1: FutureWarning: ['City'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('Country').agg(['count','mean']).head()

           Latitude            Longitude           Population              \
              count       mean     count      mean      count        mean
Country
Argentina         1 -34.603700         1  -58.3816          1  11200000.0
Australia         3 -33.050733         3  149.7325          3   2724000.0
Austria           1  48.208200         1   16.3738          1   1550000.0
Azerbaijan        1  40.409300         1   49.8671          1   2100000.0
Belgium           1  50.850300         1    4.3517          1   1570000.0

           Land_area         Density              Number
               count    mean   count         mean  count        mean
Country
Argentina          1  2266.0       1  4950.000000      1   15.000000
Australia          3  1790.0       3  1516.666667      3   84.666667
Austria            1   453.0       1  3400.000000      1  118.000000
Azerbaijan         1   544.0       1  3850.000000      1   94.000000
Belgium            1   712.0       1  2200.000000      1  117.000000

In [ ]:
df.groupby('Country').agg({'City':'count','Population':'mean','Density':'max'}).head()

            City  Population  Density
Country
Argentina      1  11200000.0     4950
Australia      3   2724000.0     2100
Austria        1   1550000.0     3400
Azerbaijan     1   2100000.0     3850
Belgium        1   1570000.0     2200

## Groupby Based on Multiple Columns

In [ ]:
teams

,division,conference,school_name,roster_url,id
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1
1,FBS (Division I-A Teams),American Athletic,Connecticut,http://espn.go.com/ncf/teams/roster?teamId=41,2
2,FBS (Division I-A Teams),American Athletic,Houston,http://espn.go.com/ncf/teams/roster?teamId=248,3
3,FBS (Division I-A Teams),American Athletic,Louisville,http://espn.go.com/ncf/teams/roster?teamId=97,4
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5
...,...,...,...,...,...
247,FCS (Division I-AA Teams),SWAC,Jackson State,http://espn.go.com/ncf/teams/roster?teamId=2296,248
248,FCS (Division I-AA Teams),SWAC,Mississippi Valley State,http://espn.go.com/ncf/teams/roster?teamId=2400,249
249,FCS (Division I-AA Teams),SWAC,Prairie View A&M,http://espn.go.com/ncf/teams/roster?teamId=2504,250
250,FCS (Division I-AA Teams),SWAC,Southern University,http://espn.go.com/ncf/teams/roster?teamId=2582,251
251,FCS (Division I-AA Teams),SWAC,Texas Southern,http://espn.go.com/ncf/teams/roster?teamId=2640,252

In [ ]:
teams.groupby(['division','conference']).count()['school_name']

division                   conference
FBS (Division I-A Teams)   ACC                  14
                           American Athletic    10
                           Big 12               10
                           Big Ten              12
                           Conference USA       14
                           FBS Independents      7
                           Mid-American         13
                           Mountain West        12
                           Pac-12               12
                           SEC                  14
                           Sun Belt              8
FCS (Division I-AA Teams)  Big Sky              13
                           Big South             6
                           CAA                  11
                           FCS Independents      5
                           Ivy                   8
                           MEAC                 11
                           Missouri Valley      10
                           Northeast             7
                           Ohio Valley           9
                           Patriot League        7
                           Pioneer              12
                           SWAC                 10
                           Southern              9
                           Southland             8
Name: school_name, dtype: int64