### SETUP

In [ ]:
import pandas as pd

# Create DataFrame and Series

### DataFrame

A DataFrame is a 2-dimensional tabular data structure in pandas. You can create one from various sources, including dictionaries, lists, or external files like CSV.

In [ ]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)

print(df)

### Series

A Series is a one-dimensional labeled array in pandas. You can create one from a list, dictionary, or an ndarray.

In [ ]:
# Creating a Series from a list
data = [10, 20, 30, 40, 50]

series = pd.Series(data)

print(series)

# Loading and Exploring Data

## Loading Data

To load data into a pandas DataFrame from a source, you can use various methods depending on the data source.

### From CSV File

#### "Local File"

Since we now work on Google Colab, and it's not convinient to upload the file every we connect the runtime, we will "download" the data from sources into our Google Colab storage using `wget` prompt command.

In [ ]:
!wget https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/teams.csv

--2023-07-18 07:15:15--  https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/teams.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24958 (24K) [text/plain]
Saving to: ‘teams.csv.1’

teams.csv.1         100%[===================>]  24.37K  --.-KB/s    in 0.002s

2023-07-18 07:15:15 (10.5 MB/s) - ‘teams.csv.1’ saved [24958/24958]

Use `pd.read_csv` to open the file.

In [ ]:
teams = pd.read_csv('teams.csv')
teams

,division,conference,school_name,roster_url,id
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1
1,FBS (Division I-A Teams),American Athletic,Connecticut,http://espn.go.com/ncf/teams/roster?teamId=41,2
2,FBS (Division I-A Teams),American Athletic,Houston,http://espn.go.com/ncf/teams/roster?teamId=248,3
3,FBS (Division I-A Teams),American Athletic,Louisville,http://espn.go.com/ncf/teams/roster?teamId=97,4
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5
...,...,...,...,...,...
247,FCS (Division I-AA Teams),SWAC,Jackson State,http://espn.go.com/ncf/teams/roster?teamId=2296,248
248,FCS (Division I-AA Teams),SWAC,Mississippi Valley State,http://espn.go.com/ncf/teams/roster?teamId=2400,249
249,FCS (Division I-AA Teams),SWAC,Prairie View A&M,http://espn.go.com/ncf/teams/roster?teamId=2504,250
250,FCS (Division I-AA Teams),SWAC,Southern University,http://espn.go.com/ncf/teams/roster?teamId=2582,251
251,FCS (Division I-AA Teams),SWAC,Texas Southern,http://espn.go.com/ncf/teams/roster?teamId=2640,252

#### From Link

You can specify a url that download a data directly after we click on it to the pandas data loader.

In [ ]:
house = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/kc_house_data.csv')
house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

### From TSV or Other Format File

`pd.read_csv` can also read any other extensions such as .tsv, .txt, but only you specify the delimiter of the data.

The delimiter of CSV file is comma. Instead, the TSV file is tab or `\t`.

In [ ]:
tsv_df = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/cities_world.tsv', delimiter='\t')
tsv_df

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5
...,...,...,...,...,...,...,...,...
120,Copenhagen,55.6761,12.5683,Denmark,1525000,816,1850,121
121,Brisbane,-27.4698,153.0251,Australia,1508000,1603,950,122
122,Riverside/San Bernardino,33.9533,-117.3962,USA,1507000,1136,1350,123
123,Cincinnati,39.1031,-84.5120,USA,1503000,1740,850,124
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125

How about if we change the delimiter to default (',')?

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/cities_world.tsv')

    City\tLatitude\tLongitude\tCountry\tPopulation\tLand_area\tDensity\tNumber
0    Tokyo/Yokohama\t35.6895\t139.6917\tJapan\t3320...
1    New York Metro\t40.7128\t-74.0059\tUSA\t178000...
2    Sao Paulo\t-23.5505\t-46.6333\tBrazil\t1770000...
3    Seoul/Incheon\t37.5665\t126.978\tSouth Korea\t...
4    Mexico City\t23.6345\t-102.5528\tMexico\t17400...
..                                                 ...
120  Copenhagen\t55.6761\t12.5683\tDenmark\t1525000...
121  Brisbane\t-27.4698\t153.0251\tAustralia\t15080...
122  Riverside/San Bernardino\t33.9533\t-117.3962\t...
123  Cincinnati\t39.1031\t-84.5120\tUSA\t1503000\t1...
124  Accra\t5.6037\t-0.1870\tGhana\t1500000\t453\t3...

[125 rows x 1 columns]

the values weren't be seperated.

### From Excel File

Excel file is special that has different encode, format to csv or other text files. Therefore, Pandas provides a particular function that is `pd.read_excel`.

In [ ]:
file = 'https://github.com/FTDS-learning-materials/phase-0/raw/main/src/data_penjualan.xlsx'
sales = pd.read_excel(file)
sales

        Bulan  Penjualan
0     Januari       1000
1    Februari        200
2       Maret       5000
3       April        654
4         Mei       1200
5        Juni        760
6        Juli       1000
7     Agustus       1100
8   September       1200
9     Oktober       1500
10   November       4000
11   Desember       7600

Remember that excel file can possess more than one sheet. So, how to check sheets in the excel file?

In [ ]:
pd.ExcelFile(file).sheet_names

['2020', '2021']

To open specific sheet, you can add `sheet_name` argument when use `pd.read_excel`. Note that by default, `pd.read_excel` will open the first sheet.

In [ ]:
sales = pd.read_excel(file,sheet_name='2021')
sales

        Bulan  Penjualan
0     Januari       1200
1    Februari       1500
2       Maret       4000
3       April       7600
4         Mei       1200
5        Juni        760
6        Juli       1000
7     Agustus       1100
8   September       1300
9     Oktober       1000
10   November       1100
11   Desember       1200

## Simple Exploring Data

We will use `cities world` data. However, we will load again.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/cities_world.tsv', delimiter='\t')

**Show First and Last 5 rows**

In [ ]:
df.head()

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
0,Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
1,New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
2,Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
3,Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
4,Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5

In [ ]:
df.tail()

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
120,Copenhagen,55.6761,12.5683,Denmark,1525000,816,1850,121
121,Brisbane,-27.4698,153.0251,Australia,1508000,1603,950,122
122,Riverside/San Bernardino,33.9533,-117.3962,USA,1507000,1136,1350,123
123,Cincinnati,39.1031,-84.5120,USA,1503000,1740,850,124
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125

**Show number of rows and columns in a DataFrame**

Thw output will be a Tuple -> (n_rows,n_cols)

In [ ]:
df.shape

(125, 8)

**Show DataFrame Summary**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        125 non-null    object
 1   Latitude    125 non-null    float64
 2   Longitude   125 non-null    float64
 3   Country     125 non-null    object
 4   Population  125 non-null    int64
 5   Land_area   125 non-null    int64
 6   Density     125 non-null    int64
 7   Number      125 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

**Show descriptive statistics of the numerical columns**

In [ ]:
df.describe()

,Latitude,Longitude,Population,Land_area,Density,Number
count,125.000000,125.000000,1.250000e+02,125.000000,125.000000,125.000000
mean,25.005552,5.567330,5.283232e+06,1399.624000,5403.600000,63.000000
std,25.394396,80.124674,4.855835e+06,1340.851906,4935.181371,36.228442
min,-37.813600,-123.120700,1.500000e+06,376.000000,700.000000,1.000000
25%,14.599500,-74.005900,2.100000e+06,583.000000,2250.000000,32.000000
50%,33.749000,12.496400,3.502000e+06,816.000000,3800.000000,63.000000
75%,41.805700,67.009900,6.000000e+06,1740.000000,7700.000000,94.000000
max,59.934300,153.025100,3.320000e+07,8683.000000,29650.000000,125.000000

**Show Column List**

In [ ]:
df.columns

Index(['City', 'Latitude', 'Longitude', 'Country', 'Population', 'Land_area',
       'Density', 'Number'],
      dtype='object')

**Show Index List**

In [ ]:
df.index

RangeIndex(start=0, stop=125, step=1)

**Show Data Types Each Column**

In [ ]:
df.dtypes

City           object
Latitude      float64
Longitude     float64
Country        object
Population      int64
Land_area       int64
Density         int64
Number          int64
dtype: object

**Show Number of Unique Values Each Column**

In [ ]:
df.nunique()

City          125
Latitude      125
Longitude     125
Country        52
Population    109
Land_area      90
Density        96
Number        125
dtype: int64

**Show Frequencty Count of Unique Values in Certain Column**

In [ ]:
df['Country'].value_counts()

USA             26
Brazil           9
Germany          6
India            6
China            6
Japan            5
South Africa     4
Saudi Arabia     3
UK               3
Italy            3
Canada           3
Mexico           3
Australia        3
Poland           2
Spain            2
Turkey           2
Pakistan         2
Russia           2
Taiwan           2
Puerto Rico      1
Israel           1
Denmark          1
Portugal         1
Greece           1
Austria          1
Belgium          1
Azerbaijan       1
UAE              1
Singapore        1
Lebanon          1
Hungary          1
Zimbabwe         1
Kuwait           1
Uzbekistan       1
Congo            1
Sudan            1
France           1
South Korea      1
Philippines      1
Indonesia        1
Nigeria          1
Egypt            1
Argentina        1
Iran             1
Malaysia         1
Colombia         1
Peru             1
Thailand         1
Iraq             1
Chile            1
Vietnam          1
Ghana            1
Name: Country, dtype: int64

**Show Unique Values in Certain Column**

In [ ]:
df['City'].unique()

array(['Tokyo/Yokohama', 'New York Metro', 'Sao Paulo', 'Seoul/Incheon',
       'Mexico City', 'Osaka/Kobe/Kyoto', 'Manila', 'Mumbai', 'Delhi',
       'Jakarta', 'Lagos', 'Kolkata', 'Cairo', 'Los Angeles',
       'Buenos Aires', 'Rio de Janeiro', 'Moscow', 'Shanghai', 'Karachi',
       'Paris', 'Istanbul', 'Nagoya', 'Beijing', 'Chicago', 'London',
       'Shenzhen', 'Essen/DГјsseldorf', 'Tehran', 'Bogota', 'Lima',
       'Bangkok', 'Johannesburg/East Rand', 'Chennai', 'Taipei',
       'Baghdad', 'Santiago', 'Bangalore', 'Hyderabad', 'St Petersburg',
       'Philadelphia', 'Lahore', 'Kinshasa', 'Miami', 'Ho Chi Minh City',
       'Madrid', 'Tianjin', 'Kuala Lumpur', 'Toronto', 'Milan',
       'Shenyang', 'Dallas/Fort Worth', 'Boston', 'Belo Horizonte',
       'Khartoum', 'Riyadh', 'Singapore', 'Washington', 'Detroit',
       'Barcelona', 'Houston', 'Athens', 'Berlin', 'Sydney', 'Atlanta',
       'Guadalajara', 'San Francisco/Oakland', 'Montreal', 'Monterey',
       'Melbourne', 'Ankara', 'Recife', 'Phoenix/Mesa', 'Durban',
       'Porto Alegre', 'Dalian', 'Jeddah', 'Seattle', 'Cape Town',
       'San Diego', 'Fortaleza', 'Curitiba', 'Rome', 'Naples',
       'Minneapolis/St. Paul', 'Tel Aviv', 'Birmingham', 'Frankfurt',
       'Lisbon', 'Manchester', 'San Juan', 'Katowice', 'Tashkent',
       'Fukuoka', 'Baku/Sumqayit', 'St. Louis', 'Baltimore', 'Sapporo',
       'Tampa/St. Petersburg', 'Taichung', 'Warsaw', 'Denver',
       'Cologne/Bonn', 'Hamburg', 'Dubai', 'Pretoria', 'Vancouver',
       'Beirut', 'Budapest', 'Cleveland', 'Pittsburgh', 'Campinas',
       'Harare', 'Brasilia', 'Kuwait', 'Munich', 'Portland', 'Brussels',
       'Vienna', 'San Jose', 'Dammam', 'Copenhagen', 'Brisbane',
       'Riverside/San Bernardino', 'Cincinnati', 'Accra'], dtype=object)

# Basic Data Manipulation

## Sorting Data

In [ ]:
df.sort_values(by='City',ascending=True) #ascending

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125
69,Ankara,39.9334,32.8597,Turkey,3100000,583,5300,70
60,Athens,37.9838,23.7275,Greece,3685000,684,5400,61
63,Atlanta,33.7490,-84.3880,USA,3500000,5083,700,64
34,Baghdad,33.3128,44.3615,Iraq,5500000,596,9250,35
...,...,...,...,...,...,...,...,...
47,Toronto,43.6532,-79.3832,Canada,4367000,1655,2650,48
105,Vancouver,49.2827,-123.1207,Canada,1830000,1120,1650,106
117,Vienna,48.2082,16.3738,Austria,1550000,453,3400,118
99,Warsaw,52.2297,21.0122,Poland,2000000,466,4300,100
56,Washington,47.7511,-120.7401,USA,3934000,2996,1300,57

In [ ]:
df.sort_values(by='City',ascending=False) #descending

,City,Latitude,Longitude,Country,Population,Land_area,Density,Number
56,Washington,47.7511,-120.7401,USA,3934000,2996,1300,57
99,Warsaw,52.2297,21.0122,Poland,2000000,466,4300,100
117,Vienna,48.2082,16.3738,Austria,1550000,453,3400,118
105,Vancouver,49.2827,-123.1207,Canada,1830000,1120,1650,106
47,Toronto,43.6532,-79.3832,Canada,4367000,1655,2650,48
...,...,...,...,...,...,...,...,...
34,Baghdad,33.3128,44.3615,Iraq,5500000,596,9250,35
63,Atlanta,33.7490,-84.3880,USA,3500000,5083,700,64
60,Athens,37.9838,23.7275,Greece,3685000,684,5400,61
69,Ankara,39.9334,32.8597,Turkey,3100000,583,5300,70
124,Accra,5.6037,-0.1870,Ghana,1500000,453,3300,125

## Slicing - Accessing Rows and Columns

### Accessing Columns

In [ ]:
df['City'] #single column

0                Tokyo/Yokohama
1                New York Metro
2                     Sao Paulo
3                 Seoul/Incheon
4                   Mexico City
                 ...
120                  Copenhagen
121                    Brisbane
122    Riverside/San Bernardino
123                  Cincinnati
124                       Accra
Name: City, Length: 125, dtype: object

In [ ]:
df[['Longitude','Latitude']] #multiple columns

     Longitude  Latitude
0     139.6917   35.6895
1     -74.0059   40.7128
2     -46.6333  -23.5505
3     126.9780   37.5665
4    -102.5528   23.6345
..         ...       ...
120    12.5683   55.6761
121   153.0251  -27.4698
122  -117.3962   33.9533
123   -84.5120   39.1031
124    -0.1870    5.6037

[125 rows x 2 columns]

In [ ]:
# If the column names are valid Python identifiers
# do not conflict with DataFrame attributes,
# and the column name follows the variable name rules,
# you can use dot notation to access columns.

df.Land_area

0      6993
1      8683
2      1968
3      1049
4      2072
       ...
120     816
121    1603
122    1136
123    1740
124     453
Name: Land_area, Length: 125, dtype: int64

### Accessing Rows

#### Using .loc

In [ ]:
df_new = df.set_index('City')
df_new.head()

,Latitude,Longitude,Country,Population,Land_area,Density,Number
City,,,,,,,
Tokyo/Yokohama,35.6895,139.6917,Japan,33200000,6993,4750,1
New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5

In [ ]:
df_new.loc['Tokyo/Yokohama']

Latitude       35.6895
Longitude     139.6917
Country          Japan
Population    33200000
Land_area         6993
Density           4750
Number               1
Name: Tokyo/Yokohama, dtype: object

In [ ]:
df_new['New York Metro':'Mexico City']

,Latitude,Longitude,Country,Population,Land_area,Density,Number
City,,,,,,,
New York Metro,40.7128,-74.0059,USA,17800000,8683,2050,2
Sao Paulo,-23.5505,-46.6333,Brazil,17700000,1968,9000,3
Seoul/Incheon,37.5665,126.9780,South Korea,17500000,1049,16700,4
Mexico City,23.6345,-102.5528,Mexico,17400000,2072,8400,5

In [ ]:
df_new.loc[0]

KeyError: ignored

#### Using .iloc

In [ ]:
df_new.iloc['Tokyo/Yokohama']

TypeError: ignored

In [ ]:
df_new.iloc[0]

Latitude       35.6895
Longitude     139.6917
Country          Japan
Population    33200000
Land_area         6993
Density           4750
Number               1
Name: Tokyo/Yokohama, dtype: object

In [ ]:
df_new.iloc[5:9] #-> only takes row-5 to row-8

,Latitude,Longitude,Country,Population,Land_area,Density,Number
City,,,,,,,
Osaka/Kobe/Kyoto,34.6937,135.5022,Japan,16425000,2564,6400,6
Manila,14.5995,120.9842,Philippines,14750000,1399,10550,7
Mumbai,19.0760,72.8777,India,14350000,484,29650,8
Delhi,28.7041,77.1025,India,14300000,1295,11050,9